:root {
  --DEFAULT_BUTTON_BACKGROUND_LIGHT_MODE: #444444;
  --DEFAULT_BUTTON_BOX_SHADOW_LIGHT_MODE: #ffffff58;
  --DEFAULT_BUTTON_BORDER_LIGHT_MODE: #444444cc;
  
  /* ---------------DARK_MODE-------------------- */
  --DEFAULT_BUTTON_BACKGROUND_DARK_MODE: #ffffff;
  --DEFAULT_BUTTON_BOX_SHADOW_DARK_MODE: #d7d7d758;
  --DEFAULT_BUTTON_BORDER_DARK_MODE: #ffffffcc;
  
}
